body { 
  background:lightgray;
  font-family: 'Roboto Condensed', sans-serif;
  }
  
h1,h2 {
  color:#444;
  font-family: 'Roboto Condensed', sans-serif;
}

a{
  color:blue;
  font-family: 'Roboto Condensed', sans-serif;
}

p{
  background:#666;
  color:white;
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.secondary{
  background:none;
  color:#777;
}

#special{
  background:red;
  color:white;
}