html, body { 
  margin:0; 
  height:  100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

header, section, nav, aside, footer {
  display: block;
}

body {
  width: 100%;
  background: url(../images/portraitgreen.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  margin: 10px 0px 0px 40px; 
  padding: 10px;
}

h1 {
  color:darkblue;
  font-size: 40px; 
}

h4 {
  color:#656565;
  /*margin-top: -10px;*/
}

a{
  color:black;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}

#section {
  width: 350px;
  margin-left: 40px;
  float: left;
  font-size: 20px;
}

p{
  padding: 10px;
}

table {
  width: 100%;
  position: fixed;
  bottom:60px;
}

td {
  height: 3em;
  background-color: rgba(34,139,34,0.3);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

td a{
  display: block;
  height: 100%;
  padding: 1em;
  color:white;
  font-weight: bold;
}

td a:hover{
  background-color: rgba(255,255,255,0.4);
}

#copyright {
  clear: both;
  background-color: none;
  font-family: Courier;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  margin-right: 20px;
  }